body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

label{
    font-weight: bold;
    font-family: "Nunito", serif;
    font-size: 18px;
    margin-left: 55px;
}

.card{
    background-color: lightgrey;
    border: 2px solid lightgrey;
    border-radius: 10px;
    width: 500px;
    height: 360px;
    box-sizing: border-box;
    padding: 30px 10px 30px 10px;
}

.result{
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.side-container {
    height: 50px;
    position: relative;
    margin-bottom: 5px;
}

.side{
    background-color: #ffe521;
    border: 3px solid black;
    border-radius: 5px;
    width: 200px;
    height: 25px;
    padding: 0px;
    margin-left: 115px;
    font-weight: bold;
    font-family: "Nunito", serif;
    text-align: end;
    padding: 0px 2px 0px 2px;
}

#head{
    font-weight: bold;
    font-size: 24px;
    font-family: "Nunito", serif;
    margin-left: 55px;
    margin-top: 8px;
}

#result{
    margin-top: 0px;
    margin-left: 295px;
    font-family: "Nunito", serif;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 3px;
}

#enter{
    box-sizing: content-box;
    background-color: #ffe521;
    border: 3px solid black;
    border-radius: 5px;
    font-family: "Nunito", serif;
    font-weight: bold;
    font-size: 16px;
    width: 55px;
    height: 25px;
    padding: 0;
    margin-left: 55px;
    cursor: pointer;
}

#triangle-name{
    background-color: #ffe521;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    font-family: "Nunito", serif;
    font-weight: bold;
    padding-top: 2px;
    width: 200px;
    height: 25px;
    margin-left: 115px;
    cursor: default;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 3px;
    padding-right: 0;
    display: block;
    position: absolute;
    left: 50%;
    width: 50%;
    font-family: "Nunito", serif;
}